.case{
    display: flex;
    padding:24px;
    box-sizing: border-box;
    border-radius: 48px;
    background-color: var(--tone);
    align-items: center;
    gap:24px;
    width:fit-content;
}

.controls{
    display: flex;
    gap:16px;
    align-items: center;
}

.portrait{
    width:100px;
    height:100px;
    position: relative;
    border-radius: 24px;
    overflow: hidden;
}

.fill{
    object-fit: cover;
}

.controls button {
    height:48px;
    width:48px;
    border-radius:200px;
    border: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}