
.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; 
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.fadeTop, .fadeBottom {
  position: fixed;
  left: 0;
  width: 100vw;
  height: 80px;
  pointer-events: none;
  z-index: 100;
}
.fadeTop {
  top: 0;
  background: linear-gradient(to bottom, var(--background, #fff) 0%, rgba(255,255,255,0) 100%);
}
.fadeBottom {
  bottom: 0;
  background: linear-gradient(to top, var(--background, #fff) 0%, rgba(255,255,255,0) 100%);
}

@media (prefers-color-scheme: dark) {
  .fadeTop {
    background: linear-gradient(to bottom, var(--background, #18181b) 0%, rgba(24,24,27,0) 100%);
  }
  .fadeBottom {
    background: linear-gradient(to top, var(--background, #18181b) 0%, rgba(24,24,27,0) 100%);
  }
}

.main {
  padding-top: calc(var(--spacing) * 24);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  max-width: 976px;
  margin: 0 auto;
  animation: smoothin ease-out;
  animation-duration: 300ms;
  
}



.flex {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 1.5);
}

.flexside{
  display: flex;
  gap: calc(var(--spacing) * 4);
  width: fit-content;
  align-items: center;
  padding: .5rem 1rem .5rem .75rem;
  box-sizing: border-box;
  border-radius: var(--radius);
  background-color: #f6f6f67e;
  border: 1px solid rgb(241, 241, 241);
  font-size: .875rem;

}

.logomark{
  font-weight: 400;
}

.heading {
  font-size: 1.875rem;
}
.paragraph {
  font-size: 1rem;
}

.blurb {
  padding-top: calc(var(--spacing) * 12);
  padding-bottom: calc(var(--spacing) * 12);
  line-height: 1.6;
}

.bubble{
  padding:.25rem;
  background-color: #ebebeb8d;
  border-radius: 8px;
}

.container{
  width:100%;
  /* border-radius: var(--radius); */
  /* border: 1px solid #ECECEC; */
}

.tiles{
  width:100%;
  display: grid;
  margin-top: calc(var(--spacing) * 4);
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: calc(var(--spacing) * 4);
  height:1100px;
}


.tileone{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  box-sizing: border;
  background-color: #FE9F9F;
}


.tiletwo{
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: bisque;
}

.tiletwo > .thumbnail {
  background-image: url('/writing.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.tilethree{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
  background-color: #2d2d2d;
}

.tilethree > .thumbnail {
  background-image: url('/pic1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tilethree .description {
  color: white;
}



.tilefour{
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: rgb(248, 248, 248);
}

.tilefour > .thumbnail {
  background-image: url('/graphicc.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 30px rgba(224, 224, 224, 0.5);
}

.tilefive{
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
  /* background-image: url('/workshop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.tilefive > .thumbnail {
  background-image: url('/workshop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* box-shadow: inset 0 0 30px rgba(224, 224, 224, 0.5); */
}

.tile{
  border-radius: var(--radius);
  border: 1px solid #ECECEC;
  /* background-color: var(--tone); */
  padding: var(--tilepad);
  position: relative;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.thumbnail{
  width:100%;
  /* background-color: red; */
  flex: 1;
  border-radius: 8px;
  box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.5);
}

.tileone > .thumbnail{
  background-image: url('/bgtile1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.description{
  left: var(--tilepad);
  right: var(--tilepad);
  bottom: var(--tilepad);
  /* background-color: green; */
  margin-top:16px;
  margin-bottom: 8px;

}

.subtitle{
  font-size: .75rem;
  font-weight: 600;
}



.badge{
  position:absolute;
  top: var(--tilepad);
  right: var(--tilepad);
  box-sizing: border-box;
  padding: .5rem .5rem;
  border-radius: var(--radius);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);

}

.grid{
  width:100%;
  display: grid;
  margin-top: calc(var(--spacing) * 4);
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: calc(var(--spacing) * 4);
  height:492px;
}

.navLink {
  font-size: 1.2rem;
  color: #0070f3;
  text-decoration: none;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 158px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

.previously{
  margin-top: 3rem;
}


.informedtile{
  width:100%;
  height:492px;
  margin-top: calc(var(--spacing) * 4);
}




/* 
@keyframes smoothin {
  0% {
    transform:translateY(50px);
    opacity:0;

  }
  100% {
    transform: translateY(0px);
    opacity:100%;
  }
} */
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
